<div class="col s2">
	<ul class="left-align">
		<li><i class="material-icons">face</i> Jonathan Yiv</li>
		<br>
		<li class="divider"></li>
		<br>
		<li><i class="material-icons">format_align_justify</i> News Feed</li>
		<li><i class="material-icons">message</i> Messenger</li>
		<li><i class="material-icons">tv</i> Watch</li>
		<br>
		<li><b>Explore</b></li>
		<li><i class="material-icons">people</i> Groups</li>
		<li><i class="material-icons">find_in_page</i> Pages</li>
		<li><i class="material-icons">event</i> Events</li>
		<li><i class="material-icons">perm_contact_calendar</i> Friend Lists</li>
		<li><i class="material-icons">attach_money</i> Fundraisers</li>
		<li><i class="material-icons">games</i> Games</li>
		<li><i class="material-icons">local_grocery_store</i> Marketplace</li>
		<li><i class="material-icons">today</i> On This Day</li>
		<li><i class="material-icons">live_tv</i> Live Video</li>
		<li><i class="material-icons">fingerprint</i> Pokes</li>
		<li><a href="#" class="grey-text">See More...</a></li>
		<br>
		<li><b>Create</b></li>
		<li class="blue-text">Ad 路 Page 路 Group 路 Event 路 Fundraiser</li>
	</ul>
</div>