<div class="col s3">
	<div class="card left-align">
    <div class="card-content">
      <p class="grey-text">Trending</p>
        <div class="divider"></div>
          <p><i class="material-icons">trending_up</i> <%= link_to "About Jonathan Yiv", 'https://jonathanyiv.github.io/about/' %></p>
          <p><i class="material-icons">trending_up</i> <%= link_to "Jonathan Yiv's Resume", 'https://jonathanyiv.github.io/resume/' %></p>
          <p><i class="material-icons">trending_up</i> <%= link_to "Jonathan Yiv's Portfolio", 'https://jonathanyiv.github.io/portfolio/' %></p>
        </div>
  </div>
  <br>
  <div class="card">
      <div class="card-image">
      	<img src="https://www.space.ca/wp-content/uploads/2017/10/SuperMarioOdyssey1.png">
      </div>
      <div class="card-content">
        	<p>Ugh, I want this game so badly..</p>
      </div>
  </div>
  <div class="card">
      <div class="card-image">
      	<img src="http://cdn.edgecast.steamstatic.com/steam/apps/413150/header.jpg?t=1493674185">
      </div>
      <div class="card-content">
        	<p>I seriously need this game too...</p>
      </div>
  </div>
  <div class="card">
      <div class="card-image">
      	<img src="https://www.nintendo.com/switch/etRgxnAu0zRX4bmWnt9K628wG7YQUI6t/images/switch/buy-now/bundle_color_console.jpg">
      </div>
      <div class="card-content">
        	<p>...but first I need a Nintendo Switch.</p>
      </div>
  </div>
  <div class="card">
      <div class="card-image">
      	<img src="https://i.ytimg.com/vi/Ro6r15wzp2o/maxresdefault.jpg">
      </div>
      <div class="card-content">
        	<p>I am absolutely hype.</p>
      </div>
  </div>
  <p class="grey-text left-align">Privacy · Terms · Advertising · Ad Choices · Cookies · More..</p>
  <p class="grey-text left-align">Jonathan Yiv © 2017</p>
</div>