<% provide(:title, "About") %>

<h1>About</h1>

<div class="divider"></div>

<p>This is a practice implementation of Facebook in Rails without the AJAX and Chat features.</p>

<p>This was created as a project for <%= link_to "The Odin Project", "https://www.theodinproject.com/courses/ruby-on-rails/lessons/final-project" %>, a free open source curriculum for learning how to program.</p>

<p>However, this wasn't created as part of a step-by-step tutorial; everything was made without guidance.</p>

<p>You can read more about the project and view its source code at its <%= link_to "repository", "https://github.com/JonathanYiv/odinbook" %>.