<% provide(:title, "About") %>

<h1>About</h1>

<div class="divider"></div>

<p>This is a practice implementation of Facebook in Rails without the AJAX and Chat features.</p>

<p>This was created as a project for <%= link_to "The Odin Project", "https://www.theodinproject.com/courses/ruby-on-rails/lessons/final-project" %>, a free open source curriculum for learning how to program.</p>

<p>However, this wasn't created as part of a step-by-step tutorial; everything was made without guidance.</p>

<p>You can read more about the project and view its source code at its <%= link_to "repository", "https://github.com/JonathanYiv/odinbook" %>.

<div class="divider"></div>

<h3>Features</h3>

<p>Models the associations necessary to have users, posts, comments, likes, friends, and friend requests</p>
<p>Deployed on Heroku with a PostgreSQL database</p>
<p>Styled with Materialize CSS</p>
<p>Added authentication with Devise and Omniauth-Facebook</p>
<p>Enables image uploading directly to an Amazon S3 Bucket with Shrine</p>
<p>Seeded the database with sample data using Faker</p>
<p>Full test coverage of Models/Controllers with FactoryBot and MiniTest.</p>

<br>