<% provide(:title, "Contact") %>

<h1>Contact</h1>

<hr>

<p>My name is Jonathan Yiv, and I am currently seeking an entry-level web development position.</p>

<p>You can reach me at JonathanYiv@gmail.com</p>

<p>Check out my <%= link_to "website", "http://www.jonathanyiv.com" %>, my <%= link_to "GitHub", "https://github.com/JonathanYiv" %>, and/or my <%= link_to "LinkedIn", "https://www.linkedin.com/in/jonathanyiv/" %> to learn more about me.</p>

<p>I'd love to hear from you.</p>