<div class="col s2">
	<ul class="left-align">
		<li><h5 class="grey-text">Filter Results</h5></li>
		<br>
		<li><b>City</b></li>
		<li>
			<input name="city" type="radio" id="any_city" checked="checked">
			<label for="any_city">Any city</label>
		</li>
		<br>
		<li><b>Education</b></li>
		<li>
			<input name="education" type="radio" id="any_school" checked="checked">
			<label for="any_school">Any school</label>
		</li>
		<br>
		<li><b>Work</b></li>
		<li>
			<input name="work" type="radio" id="any_company" checked="checked">
			<label for="any_company">Any company</label>
		</li>
		<br>
		<li><b>Mutual Friends</b></li>
		<li>
			<input name="friends" type="radio" id="anyone" checked="checked">
			<label for="anyone">Anyone</label>
		</li>
		<li>
			<input name="friends" type="radio" id="friends">
			<label for="friends">Friends</label>
		</li>
		<li>
			<input name="friends" type="radio" id="friends_of_friends">
			<label for="friends_of_friends">Friends of Friends</label>
		</li>
	</ul>
</div>