<div class="row">
	<%= render 'left_sidebar' %>
	<div class="col s7">
		<ul class="collection">
			<%= render @users %>
			<%= will_paginate @users, outer_window: 1, inner_window: 2 %>
		</ul>
	</div>
	<%= render 'static_pages/right_sidebar' %>
</div>