<div class="card left-align">
	<div class="card-content">
		<span class="card-title grey-text"><%= post.user.full_name %> shared a post</span>
		<p><%= post.content %></p>	
	</div>
	<div class="card-action">
		<i class="material-icons">thumb_up</i>Like
	</div>
	<div class="card-content facebook-grey">
		[Comment]
	</div>
</div>