@import "materialize";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

/* Colors */

.facebook-blue {
	background-color: #3b5998;
}

.facebook-blue-text {
	color: #3b5998;
}

.facebook-grey {
	background-color: #e9ebee;
}

/* Sticky Footer */

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

/* Flash */

.flash {
	text-align: center;
}