<%= render 'layouts/logout/header' %>

<!-- Need to add Flash -->

<main class="facebook-grey">
  	<div class="center-align container">
  	    <%= yield %>
  	</div>
</main>

<%= render 'layouts/logout/footer' %>