<footer class="white page-footer">
    <div class="container">
    	<div class="row">
    		<div class="col s1">
    			<span class="grey-text">Real Links:</span>
    		</div>
    		<div class="col s1">
    			<%= link_to "Home", root_path %>
    		</div>
    		<div class="col s1">
    			<%= link_to "About", about_path %>
    		</div>
    		<div class="col s1">
    			<%= link_to "Contact", contact_path %>
    		</div>
    	</div>
    	<div class="divider"></div>
    	<div class="row">
    		<div class="col s1">
    			<span class="blue-text">English</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Español</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Français</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">العربية</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Português</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Italiano</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">한국어</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Deutsch</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">हिन्दी</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">日本語</span>
    		</div>
    	</div>
    	<div class="divider"></div>
    	<div class="row">
    		<div class="col s1">
    			<span class="blue-text">Sign Up</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Log In</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Messenger</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Lite</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Mobile</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Find</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">People</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Pages</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Places</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Games</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Locations</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Celebrities</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Marketplace</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Groups</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Recipes</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Sports</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Look</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Moments</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Odagram</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">About</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Create Ad</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">New Page</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Developers</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Careers</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Privacy</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Cookies</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Ad Choices</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Terms</span>
    		</div>
    		<div class="col s1">
    			<span class="blue-text">Help</span>
    		</div>
    	</div>
    	<div class="row">
    		<span class="grey-text">Jonathan Yiv © 2017</span>
    	</div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    	<div class="row"></div>
    </div>
</footer>