<footer class="white page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="grey-text">Footer Content</h5>
                <p class="black-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="grey-text">Links</h5>
                <ul>
                  <li><a class="text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="white footer-copyright">
            <div class="container">
            <span class="black-text">Jonathan Yiv © 2017</span>
            <a class="black-text right" href="#!">More Links</a>
            </div>
          </div>
</footer>