<nav class="nav-extended facebook-blue">
	<div class="container">
	    <div class="nav-content">
	    	<ul class="right">
	    		<li>Email</li>
	    		<li>Password</li>
	    	</ul>
	    </div>
	    <div class="nav-wrapper">
	    	<a href="/" class="brand-logo"><b>odinbook</b></a>
	    	<ul class="right">
	    		<li>[Email Form]</li>
	    		<li>[Password Form]</li>
	    	</ul>
	    </div>
	</div>
</nav>